# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# VS/JetBrains/IDE
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Git LFS (optional, falls du es nutzt)
*.psd
*.fbx
*.wav
*.mp3
*.mp4
